<!DOCTYPE html>
<html> <!--#id-0-->
  <head>
    <title>In-Vehicle Monitoring System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">

    <style>
      body {
        font-family: 'Roboto', sans-serif;
        background-color: #e6e6e6;
      }

      h1 {
        font-size: 2.2em;
        text-align: center;
        margin-top: 40px;
      }

      .message-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      .message-box {
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
        padding: 20px;
        margin: 20px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .message-box strong {
        font-weight: bold;
        margin-top: 0;
      }

      #driving-hours-message {
        background-color: #d7f3cf;
        box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;
      }

      #overspeeding-message {
        background-color: #fff3cd;
        box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;
      }

      #hash-acceleration-message {
        background-color: #f8d7da;
        box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;
      }

      #night-driving-ban-message {
        background-color: #d1ecf1;
        box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;
      }
    </style>
  </head>
  <body>
    <h1>In-Vehicle Monitoring System</h1>
    <div class="message-box-container">
      <div id="driving-hours-message" class="message-box">
        <strong>Driving Hours:</strong>
        <p>{{ driving_hours_message }}</p>
      </div>
      <div id="overspeeding-message" class="message-box">
        <strong>Overspeeding:</strong>
        <p>{{ overspeeding_message }}</p>
      </div>
      <div id="hash-acceleration-message" class="message-box">
        <strong>Harsh Acceleration:</strong>
        <p>{{ hash_acceleration_message }}</p>
      </div>
      <div id="night-driving-ban-message" class="message-box">
        <strong>Night Driving Ban:</strong>
        <p>{{ night_driving_ban_message }}</p>
      </div>
    </div>
  </body>
</html>
