<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
            font-family: 'Roboto', sans-serif;
        }

        .login-container {
            width: 500px;
            background-color: #f2f2f2;
            border-radius: 20px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            padding: 40px;
        }

        .login-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            font-weight: bold;
            border: none;
            cursor: pointer;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        .form-group button:hover {
            background-color: #222;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }

        .network-error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2 class="login-title">Login</h2>
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        {% if network_error %}
        <p class="network-error-message">Network Error! Please ensure you're connected to the internet.</p>
        {% endif %}
    </div>
</body>
</html>
